*{
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.main {
    max-width: 100%;
    word-break: break-word;
    border: 1px solid red;
}

.main_visual {
    width: 100%;
    height: 558.04px;
}
.mkvg {
    padding: 0 4rem;
    position: relative;
    max-width: 192rem;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid blue;
}